body {
	padding-top: 75px;
}

#footer {
	height: 60px;
	background-color: #f5f5f5;
}

#footer  p {
	margin: 20px 0;
}

article.post {
	padding-bottom: 60px;
	border-bottom: 2px dashed #cacaca;
	margin-bottom: 60px;
}

article section a.external {
	font-style: italic;
}

article section a {
	font-weight: bold;
}

nav .previous:before {
	content: '\00AB\00a0'
}

nav .next:after {
	content: '\00a0\00BB'
}

#comment {
	margin-top: 30px;
	min-height: 300px
}