body {
	padding-top: 75px;
}

#footer  p {
	margin-top: 20px;
	padding-top: 20px;
}

article.post {
	padding-bottom: 60px;
	border-bottom: 2px dashed #cacaca;
	margin-bottom: 60px;
}

article section a.external {
	font-style: italic;
}

article section a {
	font-weight: bold;
}

nav .previous:before {
	content: '\00AB\00a0'
}

nav .next:after {
	content: '\00a0\00BB'
}

#comment {
	margin-top: 30px;
	min-height: 300px
}

article.archive h2 {
	border-bottom: 1px solid gray;
}

article.archive  p.categories {
	margin-top: 10px;
}

article h1 {
	font-size: 29px;
}

article .meta span {
	margin-right: 10px;
}

article .meta span:before {
    margin-right: 5px;
}