---
layout: default
---

{% if paginator.previous_page %}
<div class="row">
	<nav class="col-xs-12">
		<h4><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" class="pull-left previous">Articles précédents</a></h4>
	</nav>
</div>
{% endif %}


{% assign index = true %}
<div itemscope itemtype="http://schema.org/Blog">
	{% for post in paginator.posts %}
	{% assign content = post.content %}
	<div class="row">
		<div class="col-xs-12">
			<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
				{% include article.html %}
			</article>
		</div>
	</div>
	{% endfor %}
</div>

{% if paginator.next_page %}
<div class="row">
	<nav class="col-xs-12">
		<h4><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pull-right next">Articles suivants</a></h4>
	</nav>
</div>
{% endif %}