---
layout: default
---

{% if paginator.previous_page %}
<nav>
	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" class="pull-left previous">Articles précédents</a>
</nav>
{% endif %}

{% assign index = true %}
<div itemscope itemtype="http://schema.org/Blog">
	{% for post in paginator.posts %}
	{% assign content = post.content %}
    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        {% include article.html %}
    </article>
	{% endfor %}
</div>

{% if paginator.next_page %}
<nav>
	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pull-right next">Articles suivants</a>
</nav>
{% endif %}