{% if index %}
	<header>
		<h1 itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>
		{% include post/meta.html %}
	</header>
	
	<section itemprop="articleBody">
		{{ if post.github }}<p>The source repository for this article is on <a href="{{ post.github }}">github</a></p>{{ endif }}
		{{ content | excerpt }}
		{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
		{% if excerpted == 'true' %}<a href="{{ post.url }}" class="more-link">{{ site.excerpt_link }}</a>{% endif %}
		
		{% include post/sharing.html %}		
	</section>	
{% else %}

	<header>
		<h1 itemprop="name">{{ page.title }}</h1>
		{% include post/meta.html %}
	</header>
	
	<section class="entry-content" itemprop="articleBody">
		{{ if post.github }}<p>The source repository for this article is on <a href="{{ post.github }}">github</a></p>{{ endif }}
		{{ content }}
	</section>

{% endif %}
