<h3 class="meta">
	<span class="fa fa-calendar"> {% include post/date.html %}{{ time }}</span>
	<span class="fa fa-tag">{% for tag in page.tags %}<a href="/archive/tags.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% for tag in post.tags %}<a href="/archive/tags.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
	{% if site.disqus_short_name and site.disqus_show_comment_count == true %}
		{% include post/comments_link.html %}
	{% endif %}
	<span class="fa fa-edit"> {% include post/edit.html %}</span>
</h3>