---
layout: default
single: true
---

{% if page.previous.url %}
<div class="row">
	<nav class="col-xs-12">
		<h4>Article précédent : <a href="{{page.previous.url}}" title="{{page.previous.title}}">{{page.previous.title}}</a></h4>
	</nav> 
</div>
{% endif %} 

<div class="row">
	<article class="col-xs-12" itemscope itemtype="http://schema.org/BlogPosting">
		{% include article.html %}
	</article>
</div>

{% if page.next.url %}
<div class="row">
	<nav class="col-xs-12 text-right">
		<h4>Article suivant : <a href="{{page.next.url}}" title="{{page.next.title}}">{{page.next.title}}</a></h4>
	</nav> 
</div>
{% endif %} 

{% unless page.sharing == false %}
<div class="row">
	<div class="col-xs-12">
		{% include post/sharing.html %}
	</div>
</div>	
{% endunless %}


{% if site.disqus_short_name and page.comments == true %}
<div class="row">
	<section id="comment" class="col-xs-12">
		<div id="disqus_thread" aria-live="polite">{% include disqus.html %}</div>
	</section>
</div>
{% endif %}