---
layout: default
single: true
---

<div class="row">
	<article class="col-xs-12" itemscope itemtype="http://schema.org/BlogPosting">
		{% include article.html %}
	</article>
</div>

<div class="row">
	<nav class="col-xs-6">
	{% if page.previous.url %}
		<h4>Previous post : <a href="{{page.previous.url}}" title="{{page.previous.title}}">{{page.previous.title}}</a></h4>
	{% endif %} 
	</nav> 

	<nav class="col-xs-6 text-right">
	{% if page.next.url %}
		<h4>Next post : <a href="{{page.next.url}}" title="{{page.next.title}}">{{page.next.title}}</a></h4>
	{% endif %} 
	</nav> 
</div>

{% unless page.sharing == false %}
<div class="row">
	<div class="col-xs-12">
		{% include post/sharing.html %}
	</div>
</div>	
{% endunless %}

{% if site.disqus_short_name and page.comments == true %}
<div class="row">
	<section id="comment" class="col-xs-12">
		<div id="disqus_thread" aria-live="polite">{% include disqus.html %}</div>
	</section>
</div>
{% endif %}